@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i');
* {
  box-sizing: border-box;
}
html {
  border-top: 5px solid #c9ba97;
  border-bottom: 50px solid #c9ba97;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body {
  min-height: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: #f6f6f6;
  margin: 2em auto 1em auto;
  color: #333;
}
html::after {
  content: "";
  background: url(../images/birds1.svg) no-repeat;
  opacity: .1;
  top: 1%;
  right: 1%;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 200px;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  padding: 0 2rem;
}

header > section {
  position: absolute;
  bottom: -75px;
  right: 20px;
}

header > section > a {
  font-weight: bold;
  font-size: .9em;
  color: inherit;
  background: #eee;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 2px #ccc;
}

header h1,
header h2 {
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin: .2em 0;
  line-height: .7em;
  font-size: 2.5em;
}
header h2 {
  font-size: .8em;
  margin-left: .5em;
}

main {
  background-color: rgba(255,255,255,.88);
  border: 1px solid #bbb;
  border-width: 1px 0;
  padding: 20px;
  margin-top: 3em;
  padding: 1rem calc(50% - 960px / 2);
}

ul {
  margin: 0;
  padding: 0;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
}

form input:not([type=submit]),
form textarea {
  font: inherit;
  font-size: .9em;
  border: 1px solid #999;
  padding: .2rem .5rem;
  border-radius: .2rem;
  transition: .3s box-shadow;
}

form input:not([type=submit]):focus,
form textarea:focus {
  box-shadow: 0 0 2px solid #999;
}

form input[type=submit] {
  grid-column-start: 2;
}


button,
.button,
input[type=submit] {
  font: inherit;
  cursor: pointer;
  display: inline-block;
  padding: .3rem .5rem;
  border: .2rem solid #0275d8;
  border-radius: .2rem;
  background-color: #0275d8;
  color: #fff;
  text-decoration: none;
  transition: background-color .3s;
}

button:hover,
.button:hover,
input[type=submit]:hover {
  background-color: #025aa5;
  border-color: #01549b;
}
